body {
    font-family: 'CircularStd', sans-serif;
    font-size: .9375rem;
    color: #1f1f1f;
    background-color: #f7f7f7;
    min-height: 100%;
    overflow-x: hidden;
}
a:hover{
	text-decoration: none;
}

/*-----------------
	8. Header
-----------------------*/

.header {
	background: #00c5fb;
	background: -moz-linear-gradient(left, #00c5fb 0%, #0253cc 100%);
	background: -webkit-linear-gradient(left, #00c5fb 0%, #0253cc 100%);
	background: -ms-linear-gradient(left, #00c5fb 0%, #0253cc 100%);
	background: linear-gradient(to right, #00c5fb 0%, #0253cc 100%);
	border-bottom: 1px solid transparent;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	height: 60px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1002;
}
.header .header-left {
	float: left;
	height: 60px;
	padding: 0 20px;
	position: relative;
	text-align: center;
	width: 230px;
	z-index: 1;
	transition: all 0.2s ease-in-out;
}
.header .header-left .logo {
	display: inline-block;
	line-height: 60px;
}
.bar-icon {
    display: inline-block;
    width: 21px;
}
.bar-icon span {
    background-color: #fff;
    border-radius: 500px;
    display: block;
    float: left;
    height: 2px;
    margin-bottom: 5px;
    width: 21px;
}
.bar-icon span:nth-child(2) {
    width: 15px;
}
.bar-icon span:nth-child(3) {
    margin-bottom: 0;
}
.header .navbar-nav .badge {
	position: absolute;
	right: 7px;
	top: 4px;
}
.header .dropdown-menu > li > a {
	position: relative;
}
.header .dropdown-toggle::after {
	display: none;
}
.header .has-arrow .dropdown-toggle:after {
	border-top: 0;
	border-left: 0;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	content: '';
	height: 8px;
	display: inline-block;
	pointer-events: none;
	-webkit-transform-origin: 66% 66%;
	-ms-transform-origin: 66% 66%;
	transform-origin: 66% 66%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	width: 8px;
	vertical-align: 2px;
}
.header .has-arrow .dropdown-toggle[aria-expanded="true"]:after {
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.page-title-box {
	border-radius: 0;
	float: left;
	height: 60px;
	margin-bottom: 0;
	padding: 17px 20px;
}
.page-title-box h3 {
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}
.user-menu {
    float: right;
    margin: 0;
    position: relative;
    z-index: 99;
}
.user-menu.nav > li > a {
	color: #fff;
	font-size: 15px;
	line-height: 60px;
	padding: 0 15px;
	height: 60px;
}
.user-menu.nav > li > a:hover,
.user-menu.nav > li > a:focus {
	background-color: rgba(0, 0, 0, 0.2);
}
.flag-nav img {
	margin-right: 5px;
}
.flag-nav .dropdown-menu {
    max-height: 150px;
    min-width: 120px;
    overflow-y: auto;
}
.flag-nav .dropdown-menu .dropdown-item {
    padding: 5px 15px;
}
.user-img {
	display: inline-block;
	position: relative;
}
.main-drop .user-img img {
	border-radius: 50%;
    width: 30px;
}
.user-img .status {
	border: 2px solid #fff;
	bottom: 0;
	height: 10px;
	margin: 0;
	position: absolute;
	right: 0;
	width: 10px;
}
.user-menu .user-img .status {
    bottom: 12px;
}
.status {
	background-color: #263238;
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.status.online {
	background-color: #55ce63;
}
.status.offline {
	background-color: #f62d51;
}
.status.away {
	background-color: #faa937;
}
.main-drop .dropdown-menu {
	min-width: 130px;
	padding: 0;
}

/*-----------------
	6. Toggle Button
-----------------------*/

.check {
	display: block;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	position: absolute;
}
.checktoggle {
    background-color: #e0001a;
    border-radius: 12px;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 24px;
    margin-bottom: 0;
    position: relative;
    width: 48px;
}
.checktoggle:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(5px, -50%);
	width: 16px;
	height: 16px;
	background-color: #fff;
	border-radius: 50%;
	transition: left 300ms ease, transform 300ms ease;
}
.check:checked + .checktoggle {
	background-color: #55ce63;
}
.check:checked + .checktoggle:after {
	left: 100%;
	transform: translate(calc(-100% - 5px), -50%);
}
.onoffswitch {
	margin-left: auto;
    position: relative;
	width: 73px;
    -webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
	overflow: hidden; 
	cursor: pointer;
	border-radius: 20px;
	margin-bottom: 0;
}
.onoffswitch-inner {
	display: block;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    width: 200%;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    box-sizing: border-box;
    color: #fff;
    display: block;
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 32px;
    padding: 0;
    width: 50%;
}
.onoffswitch-inner:before {
	background-color: #55ce63;
    color: #fff;
    content: "ON";
    padding-left: 14px;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 14px;
    background-color: #ccc;
    color: #fff;
    text-align: right;
}
.onoffswitch-switch {
    background: #fff;
    border-radius: 20px;
    bottom: 0;
    display: block;
	height: 20px;
    margin: 5px;
    position: absolute;
    right: 43px;
    top: 0;
    transition: all 0.3s ease-in 0s;
    width: 20px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/*-----------------
	9. Sidebar
-----------------------*/

.sidebar {
    background-color: #34444c;
    border-right: 1px solid transparent;
    bottom: 0;
    left: 0;
    margin-top: 0;
    position: fixed;
    top: 60px;
    transition: all 0.2s ease-in-out 0s;
    width: 230px;
    z-index: 1001;
}
.sidebar.opened {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.sidebar-inner {
	height: 100%;
	transition: all 0.2s ease-in-out 0s;
}
.sidebar-menu {
	padding: 10px 0;
}
.sidebar-menu ul {
	font-size: 15px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.sidebar-menu li a {
	color: #b7c0cd;
	display: block;
	font-size: 15px;
	height: auto;
	padding: 0 20px;
}
.sidebar-menu li a:hover {
	color: #fff;
}
.sidebar-menu li.active a {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.2);
}
.menu-title {
    color: #ebecf1;
    display: flex;
    font-size: 14px;
    opacity: 1;
    padding: 5px 15px;
    white-space: nowrap;
}
.menu-title > i {
	float: right;
	line-height: 40px;
}
.sidebar-menu li.menu-title a {
    color: #00c5fb;
    display: inline-block;
    margin-left: auto;
    padding: 0;
}
.sidebar-menu li.menu-title a.btn {
    color: #fff;
    display: block;
    float: none;
    font-size: 15px;
    margin-bottom: 15px;
    padding: 10px 15px;
}
.sidebar-menu ul ul a.active {
	color: #00c5fb;
	text-decoration: underline;
}
.mobile-user-menu {
    color: #fff;
    display: none;
    float: right;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 60px;
    z-index: 10;
}
.mobile-user-menu > a {
    color: #fff;
    padding: 0;
}
.mobile-user-menu a:hover {
	color: #fff;
}
.mobile-user-menu > .dropdown-menu {
	min-width: 130px;
}
.mobile-user-menu > .dropdown-menu > a {
    line-height: 23px;
}
.profile-rightbar {
	display: none !important;
	color: #bbb;
	font-size: 26px;
	margin-left: 15px;
}
.mobile_btn {
	display: none;
	float: left;
}
.sidebar .sidebar-menu > ul > li > a span {
	transition: all 0.2s ease-in-out 0s;
	display: inline-block;
	margin-left: 15px;
	white-space: nowrap;
}
.sidebar .sidebar-menu > ul > li > a span.chat-user {
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidebar .sidebar-menu > ul > li > a span.badge {
	margin-left: auto;
}
.sidebar-menu ul ul a {
	display: block;
	font-size: 14px;
	padding: 9px 10px 9px 50px;
	position: relative;
}
.sidebar-menu ul ul {
	display: none;
}
.sidebar-menu ul ul ul a {
	padding-left: 70px;
}
.sidebar-menu ul ul ul ul a {
	padding-left: 90px;
}
.sidebar-menu > ul > li {
	position: relative;
}
.sidebar-menu .menu-arrow {
	-webkit-transition: -webkit-transform 0.15s;
	-o-transition: -o-transform 0.15s;
	transition: transform .15s;
	position: absolute;
	right: 15px;
	display: inline-block;
	font-family: 'FontAwesome';
	text-rendering: auto;
	line-height: 40px;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	line-height: 18px;
	top: 11px;
}
.sidebar-menu .menu-arrow:before {
	content: "\f105";
}
.sidebar-menu li a.subdrop .menu-arrow {
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.noti-dot:before {
	content: '';
	width: 5px;
	height: 5px;
	border: 5px solid #00c5fb;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: #00c5fb;
	z-index: 10;
	position: absolute;
	right: 37px;
	top: 15px;
}
.noti-dot:after {
	content: '';
	border: 4px solid #00c5fb;
	background: transparent;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
	height: 24px;
	width: 24px;
	-webkit-animation: pulse 3s ease-out;
	-moz-animation: pulse 3s ease-out;
	animation: pulse 3s ease-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	position: absolute;
	top: 8px;
	right: 30px;
	z-index: 1;
	opacity: 0;
}
.sidebar-menu ul ul a .menu-arrow {
	top: 6px;
}
.sidebar-menu a {
	line-height: 1.3;
	transition: unset;
	-moz-transition: unset;
	-o-transition: unset;
	-ms-transition: unset;
	-webkit-transition: unset;
}
.sidebar-menu > ul > li > a {
	padding: 8px 15px;
	align-items: center;
	display: flex;
	justify-content: flex-start;
	position: relative;
	transition: all 0.2s ease-in-out 0s;
}
.sidebar-menu ul li a i {
	display: inline-block;
	font-size: 24px;
	line-height: 24px;
	text-align: left;
	vertical-align: middle;
	width: 20px;
	transition: all 0.2s ease-in-out 0s;
}
.sidebar-menu ul li.menu-title a i {
	font-size: 16px !important;
	margin-right: 0;
	text-align: right;
	width: auto;
}
.sidebar-menu li a > .badge {
    color: #fff;
}

/*-----------------
	10. Content
-----------------------*/

.page-wrapper {
	left: 0;
	margin-left: 230px;
	padding-top: 60px;
	position: relative;
	transition: all 0.2s ease-in-out;
}
.page-wrapper > .content {
	padding: 30px;
}
.page-header {
	margin-bottom: 1.875rem;
}
.page-header .breadcrumb {
    background-color: transparent;
    color: #6c757d;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0;
}
.page-header .breadcrumb a {
	color: #333;
}
.card {
	border: 1px solid #ededed;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 30px;
}
.card-title {
    color: #1f1f1f;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.card-header {
    background-color: #fff;
}
.card-footer {
    background-color: #fff;
}
.page-title {
    color: #1f1f1f;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 5px;
}
.page-sub-title {
	color: #565656;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 20px;
}
.add-btn {
    background-color: #00c5fb;
    border: 1px solid #00c5fb;
    border-radius: 50px;
    color: #fff;
    float: right;
    font-weight: 500;
    min-width: 140px;
}
.add-btn:hover,
.add-btn:focus,
.add-btn:active {
	background-color: #00b7ed;
	border: 1px solid #00b7ed;
    color: #fff;
}
.add-btn i {
	margin-right: 5px;
}
.cal-icon {
	position: relative;
	width: 100%;
}
.cal-icon:after {
	color: #979797;
	content: "\f073";
	display: block;
	font-family: "FontAwesome";
    font-size: 15px;
    margin: auto;
    position: absolute;
    right: 15px;
    top: 10px;
}
.form-focus .cal-icon:after {
	top: 15px;
}


/* login  */
.account-page {
	align-items: center ;
	display: flex;
}
.account-page .main-wrapper {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.account-content {
	padding: 20px 0;
}
.account-title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
}
.account-subtitle {
    color: #4c4c4c;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}
.account-box {
	background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    overflow: hidden;
    width: 480px;
}
.account-wrapper {
	padding: 30px;
}
.account-logo {
	margin-bottom: 30px;
	text-align: center;
}
.account-box .form-group {
	margin-bottom: 25px;
}
.account-box .account-btn {
	background: #00c5fb;
	background: -moz-linear-gradient(left, #00c5fb 0%, #0253cc 100%);
	background: -webkit-linear-gradient(left, #00c5fb 0%, #0253cc 100%);
	background: -ms-linear-gradient(left, #00c5fb 0%, #0253cc 100%);
	background: linear-gradient(to right, #00c5fb 0%, #0253cc 100%);
	border: 0;
    border-radius: 4px;
    display: block;
    font-size: 22px;
    padding: 10px 26px;
    width: 100%;
}
.account-box .account-btn:hover,
.account-box .account-btn:focus {
	border: 0;
	opacity: 0.8;
}
.account-box .form-control {
    background-color: #fbfbfb;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    height: 46px;
}
.account-box label {
	color: #1f1f1f;
	font-size: 16px;
	font-weight: normal;
    margin-bottom: 5px;
}
.account-logo img {
	width: 100px;
}
.account-footer {
    text-align: center;
}
.account-footer p {
    margin-bottom: 0;
}
.account-footer a {
	color: #00c5fb;
}
.account-footer a:hover {
	color: #00c5fb;
}

@media only screen and (max-width: 600px){
	.account-box {
		width: 100%;
		margin-bottom: 20px;
	}
}
/*-----------------
	24. Profile
-----------------------*/

.profile-details {
	text-align: center;
}
.personal-info li .title {
	color: #4f4f4f;
	float: left;
	font-weight: 500;
	margin-right: 30px;
	width: 25%;
}
.personal-info li .text {
	color: #8e8e8e;
	display: block;
	overflow: hidden;
}
.personal-info li {
	margin-bottom: 10px;
}
.personal-info {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}
.profile-view {
	position: relative;
}
.profile-view .profile-img-wrap {
	height: 120px;
	width: 120px;
}
.profile-view .profile-img {
	width: 120px;
	height: 120px;
}
.profile-view .profile-img .avatar {
	font-size: 24px;
	height: 120px;
	line-height: 120px;
	margin: 0;
	width: 120px;
}
.profile-view .profile-basic {
    margin-left: 140px;
    padding-right: 50px;
}
.profile-view .pro-edit {
    position: absolute;
    right: 0;
    top: 0;
}
.edit-icon {
    background-color: #eee;
    border: 1px solid #e3e3e3;
    border-radius: 24px;
    color: #bbb;
    float: right;
    font-size: 12px;
    line-height: 24px;
    min-height: 26px;
    text-align: center;
    width: 26px;
}
.edit-icon:hover {
	background-color: #00c5fb;
	border-color: #00c5fb;
    color: #fff;
}
.delete-icon {
    color: #e30b0b;
    float: right;
    font-size: 18px;
}
.delete-icon:hover {
    color: #e30b0b;
}
.staff-msg {
	margin-top: 30px;
}
.experience-box {
	position: relative;
}
.experience-list {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.experience-list::before {
	background: #ddd;
	bottom: 0;
	content: "";
	left: 8px;
	position: absolute;
	top: 8px;
	width: 2px;
}
.experience-list > li {
	position: relative;
}
.experience-list > li:last-child .experience-content {
	margin-bottom: 0;
}
.experience-user .avatar {
	height: 32px;
	line-height: 32px;
	margin: 0;
	width: 32px;
}
.experience-list > li .experience-user {
	background: #fff;
	height: 10px;
	left: 4px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 4px;
	width: 10px;
}
.experience-list > li .experience-content {
	background-color: #fff;
	margin: 0 0 20px 40px;
	padding: 0;
	position: relative;
}
.experience-list > li .experience-content .timeline-content {
	color: #9e9e9e;
}
.experience-list > li .experience-content .timeline-content a.name {
	color: #616161;
	font-weight: bold;
}
.experience-list > li .time {
	color: #bdbdbd;
	display: block;
	font-size: 12px;
	line-height: 1.35;
}
.before-circle {
	background-color: #ddd;
	border-radius: 50%;
	height: 10px;
	width: 10px;
}
.skills > span {
	border: 1px solid #ccc;
	border-radius: 500px;
	display: inline-block;
	margin-bottom: 10px;
	padding: 6px 12px;
	text-align: center;
}
.profile-info-left {
	border-right: 2px dashed #ccc;
}
.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    box-shadow: unset;
    display: block;
    min-height: 44px;
    padding: 6px 6px 0;
}
.bootstrap-tagsinput .badge {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 6px;
    padding: 10px 15px;
}
.add-more a {
	color: #00c5fb;
}
.add-more a:hover {
	color: #00b7ed;
}
.avatar {
	background-color: #aaa;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-weight: 500;
	height: 38px;
	line-height: 38px;
	margin: 0 10px 0 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	width: 38px;
	position: relative;
	white-space: nowrap;
}
.avatar:hover {
	color: #fff;
}
.avatar.avatar-xs {
	width: 24px;
	height: 24px
}
.avatar > img {
    border-radius: 50%;
    display: block;
    overflow: hidden;
    width: 100%;
}
.avatar-box {
    float: left;
}
.pro-overview .personal-info li .title {
	width: 50%;
}
.profile-box {
	/* min-height: 250px; */
}

/*-----------------
	56. Search
-----------------------*/

.main-search {
	margin-bottom: 20px;
}
.search-result {
	margin-bottom: 30px;
}
.search-result u {
	color: #00b7ed;
}
.search-result p {
	color: #777;
	margin-bottom: 0;
}
.search-lists .nav-tabs.nav-tabs-solid {
	background-color: #fff;
	border: 1px solid #e3e3e3;
}
.top-nav-search form {
    margin-top: 10px;
	position: relative;
    width: 230px;
}
.top-nav-search .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 50px;
    color: #fff;
    height: 40px;
    padding: 10px 50px 10px 15px;
}
.top-nav-search .btn {
    background-color: transparent;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.7);
    min-height: 40px;
    padding: 7px 15px;
    position: absolute;
    right: 0;
    top: 0;
}
.top-nav-search .form-control::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.top-nav-search .form-control::-moz-placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.top-nav-search .form-control:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.top-nav-search .form-control::-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.top-nav-search .form-control::placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.responsive-search {
    display: none;
	color: #333;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
}
.top-nav-search.active form {
    display: block;
    left: 0;
    position: absolute;
}

/*-----------------
	18. Edit Profile
-----------------------*/

.profile-img-wrap {
	height: 120px;
	position: absolute;
	width: 120px;
	background: #fff;
	overflow: hidden;
}
.profile-basic {
	margin-left: 140px;
}
.profile-basic .cal-icon {
	width: 100%;
}
.profile-img-wrap img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
.fileupload.btn {
	position: absolute;
	right: 0;
	bottom: 0;
	background: rgba(33, 33, 33, 0.5);
	border-radius: 0;
	padding: 3px 10px;
	border: none;
}
.fileupload input.upload {
	cursor: pointer;
	filter: alpha(opacity=0);
	font-size: 20px;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	right: -3px;
	top: -3px;
	padding: 5px;
}
.btn-text {
	color: #fff;
}
.submit-section {
	text-align: center;
	margin-top: 40px;
}
.submit-btn {
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    min-width: 200px;
    padding: 10px 20px;
}
.form-scroll {
    max-height: 400px;
    overflow-y: auto;
}
.profile-img-wrap.edit-img {
    border-radius: 50%;
    margin: 0 auto 30px;
    position: relative;
}
.profile-img-wrap.edit-img .fileupload.btn {
	left: 0;
}


/*-----------------
	64. Responsive
-----------------------*/

@media only screen and (min-width: 991px) {
	#toggle_btn {
		color: #999;
		float: left;
		font-size: 26px;
		line-height: 60px;
		padding: 0 10px;
	}
	.mini-sidebar .header-left .logo img {
		height: auto;
		max-height: 30px;
		width: auto;
	}
	.mini-sidebar .header .header-left {
		padding: 0 5px;
		width: 60px;
	}
	.mini-sidebar .sidebar {
		width: 60px;
	}
	.mini-sidebar.expand-menu .sidebar {
		width: 230px;
	}
	.mini-sidebar .menu-title {
		visibility: hidden;
		white-space: nowrap;
	}
	.mini-sidebar.expand-menu .menu-title {
		visibility: visible;
	}
	.mini-sidebar .menu-title a {
		visibility: hidden;
	}
	.mini-sidebar.expand-menu .menu-title a {
		visibility: visible;
	}
	.mini-sidebar .sidebar .noti-dot:before {
		display: none;
	}
	.mini-sidebar .sidebar .noti-dot:after {
		display: none;
	}
	.mini-sidebar.expand-menu .sidebar .noti-dot:before {
		display: block;
	}
	.mini-sidebar.expand-menu .sidebar .noti-dot:after {
		display: block;
	}
	.modal-open.mini-sidebar .sidebar {
		z-index: 1001;
	}
	.mini-sidebar .sidebar .sidebar-menu ul > li > a span {
		display: none;
		transition: all 0.2s ease-in-out;
		opacity: 0;
	}
	.mini-sidebar .sidebar .sidebar-menu ul > li > a span.chat-avatar-sm {
		display: inline-block;
		opacity: 1;
	}
	.mini-sidebar .sidebar .sidebar-menu ul > li > a span.status {
		display: inline-block;
		opacity: 1;
	}
	.mini-sidebar.expand-menu .sidebar .sidebar-menu ul > li > a span {
		display: inline;
		opacity: 1;
	}
	.mini-sidebar .sidebar .sidebar-menu > ul > li > a i {
		font-size: 30px;
		width: 30px;
	}
	.mini-sidebar.expand-menu .sidebar .sidebar-menu > ul > li > a i {
		font-size: 24px;
		width: 20px;
	}
	.mini-sidebar .page-wrapper {
		margin-left: 60px;
	}
}
@media only screen and (min-width: 768px) {
	.modal-md {
		width: 600px;
	}
	.nav-tabs.nav-justified.nav-tabs-top {
		border-bottom: 1px solid #ddd;
	}
	.nav-tabs.nav-justified.nav-tabs-top > li > a,
	.nav-tabs.nav-justified.nav-tabs-top > li > a:hover,
	.nav-tabs.nav-justified.nav-tabs-top > li > a:focus {
		border-width: 2px 0 0 0;
	}
	.nav-tabs.nav-tabs-top > li {
		margin-bottom: 0;
	}
	.nav-tabs.nav-tabs-top > li > a,
	.nav-tabs.nav-tabs-top > li > a:hover,
	.nav-tabs.nav-tabs-top > li > a:focus {
		border-width: 2px 0 0 0;
	}
	.nav-tabs.nav-tabs-top > li.open > a,
	.nav-tabs.nav-tabs-top > li > a:hover,
	.nav-tabs.nav-tabs-top > li > a:focus {
		border-top-color: #ddd;
	}
	.nav-tabs.nav-tabs-top > li+li > a {
		margin-left: 1px;
	}
	.nav-tabs.nav-tabs-top > li > a.active,
	.nav-tabs.nav-tabs-top > li > a.active:hover,
	.nav-tabs.nav-tabs-top > li > a.active:focus {
		border-top-color: #00c5fb;
	}
	.nav-tabs.nav-tabs-bottom > li {
		margin-bottom: -1px;
	}
	.nav-tabs.nav-tabs-bottom > li > a.active, 
	.nav-tabs.nav-tabs-bottom > li > a.active:hover, 
	.nav-tabs.nav-tabs-bottom > li > a.active:focus {
		border-bottom-width: 2px;
		border-color: transparent;
		border-bottom-color: #00c5fb;
		background-color: transparent;
		transition: none 0s ease 0s; 
		-moz-transition: none 0s ease 0s; 
		-o-transition: none 0s ease 0s; 
		-ms-transition: none 0s ease 0s; 
		-webkit-transition: none 0s ease 0s;
	}
	.nav-tabs.nav-tabs-solid {
		background-color: #fafafa;
		border: 0;
	}
	.nav-tabs.nav-tabs-solid > li {
		margin-bottom: 0;
	}
	.nav-tabs.nav-tabs-solid > li > a {
		border-color: transparent;
	}
	.nav-tabs.nav-tabs-solid > li > a:hover,
	.nav-tabs.nav-tabs-solid > li > a:focus {
		background-color: #f5f5f5;
	}
	.nav-tabs.nav-tabs-solid > .open:not(.active) > a {
		background-color: #f5f5f5;
		border-color: transparent;
	}
	.nav-tabs-justified.nav-tabs-top {
		border-bottom: 1px solid #ddd;
	}
	.nav-tabs-justified.nav-tabs-top > li > a,
	.nav-tabs-justified.nav-tabs-top > li > a:hover,
	.nav-tabs-justified.nav-tabs-top > li > a:focus {
		border-width: 2px 0 0 0;
	}
}
@media only screen and (max-width: 1199.98px) {
	.page-title-box {
		display: none;
	}
	.file-wrap .file-sidebar {
		left: -331px;
	}
	.file-wrap .file-cont-wrap {
		margin-left: 0;
	}
	.file-wrap.file-sidebar-toggle .file-sidebar {
		left: 0;
	}
	.file-wrap.file-sidebar-toggle .file-cont-wrap {
		margin-left: 0;
	}
	.file-side-close {
		display: inline-block;
	}
}
@media only screen and (max-width: 991.98px) {
	.profile-rightbar {
		display: inline-block !important;
	}
	.profile-info-left {
		border-right: none;
		border-bottom: 2px dashed #ccc;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	.task-right-sidebar .task-chat-view {
		display: block;
		position: fixed;
		right: 0;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		margin-right: 0;
	}
	.task-chat-view {
		display: none;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		right: 0;
		transform: translateX(0px);
		z-index: 1041;
		width: 300px;
		position: fixed;
		transition: all 0.4s ease 0s;
		margin-right: -300px;
		display: table-cell;
		top: 0;
		padding-bottom: 60px;
		margin-top: 60px;
	}
	.chat-profile-view {
		display: none;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		right: 0;
		transform: translateX(0px);
		z-index: 1041;
		width: 300px;
		position: fixed;
		transition: all 0.4s ease 0s;
		margin-right: -300px;
		display: table-cell;
		top: 0;
		padding-bottom: 60px;
		margin-top: 60px;
	}
	.message-view.task-view {
		width: 100%;
	}
	.float-left.ticket-view-details {
		width: 90%;
	}
	.chat-main-row {
		left: 0;
	}
	.header .header-left {
		position: absolute;
		width: 100%;
	}
	.mobile_btn {
		display: block;
	}
	.page-title-box {
		display: none;
	}
	.sidebar {
		margin-left: -225px;
		width: 225px;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		z-index: 1041;
	}
	.page-wrapper {
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}
	a.mobile_btn {
		color: #fff;
		font-size: 24px;
		height: 60px;
		left: 0;
		line-height: 60px;
		padding: 0 20px;
		position: absolute;
		top: 0;
		width: 60px;
		z-index: 10;
	}
	#toggle_btn {
		display: none;
	}
	.page-wrapper {
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	.responsive-search {
		color: #fff;
		display: inline-block;
	}
	.top-nav-search form {
		display: none;
	}
	.top-nav-search .form-control {
		background-color: #fff;
		border-color: #e3e3e3;
		color: #333;
	}
	.top-nav-search .btn {
		color: #999;
	}
	.top-nav-search .form-control::-webkit-input-placeholder {
		color: #999;
	}
	.top-nav-search .form-control::-moz-placeholder {
		color: #999;
	}
	.top-nav-search .form-control:-ms-input-placeholder {
		color: #999;
	}
	.top-nav-search .form-control::-ms-input-placeholder {
		color: #999;
	}
	.top-nav-search .form-control::placeholder {
		color: #999;
	}
	.header .has-arrow .dropdown-toggle > span:nth-child(2) {
		display: none;
	}
	.header .has-arrow .dropdown-toggle::after {
		display: none;
	}
}
@media only screen and (max-width: 767.98px) {
	.user-menu.nav > li > a {
		padding: 0 10px;
	}
	.top-nav-search form {
		width: 210px;
	}
	.profile-info-left {
		border-right: none;
		border-bottom: 2px dashed #ccc;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	.navbar-nav .open .dropdown-menu {
		float: left;
		position: absolute;
	}
	.notifications {
		right: -48px;
	}
	.notifications::before,
	.notifications::after {
		right: 60px;
	}
	.header {
		z-index: 1040;
	}
	.task-wrapper #task-list li .task-container .task-label {
		padding-right: 50px;
		word-break: unset;
	}
	.task-btn-right {
		position: absolute;
		right: 8px;
	}
	.task-wrapper #task-list li .task-container {
		padding: 8px 10px;
	}
	.task-action-btn.task-check {
		width: 36px;
	}
	.roles-menu {
		margin-bottom: 20px;
	}
	.contacts-list {
		padding: 0 70px 0 15px;
	}
	.left-action {
		text-align: center;
		margin-bottom: 15px;
	}
	.right-action {
		text-align: center;
	}
	.top-action-left .float-left {
		float: none !important;
	}
	.top-action-left .btn-group {
		margin-bottom: 15px;
	}
	.top-action-right {
		text-align: center;
	}
	.top-action-right a.btn.btn-white {
		margin-bottom: 15px;
	}
	.mail-sent-time {
		float: left;
		margin-top: 10px;
		width: 100%;
	}
	.nav-tabs.nav-justified {
		border-bottom: 1px solid #ddd;
	}
	.nav-tabs.nav-justified > li > a.active,
	.nav-tabs.nav-justified > li > a.active:hover,
	.nav-tabs.nav-justified > li > a.active:focus {
		border-color: transparent transparent transparent #00c5fb;
		border-left-width: 2px;
	}
	.nav-tabs {
		border-bottom: 0;
		position: relative;
		background-color: #fff;
		padding: 5px 0;
		border: 1px solid #ddd;
		border-radius: 3px;
	}
	.nav-tabs .nav-item {
		margin-bottom: 0;
	}
	.nav-tabs > li > a {
		border-width: 2px;
		border-left-color: transparent;
	}
	.nav-tabs .nav-link {
		border-width: 2px;
	}
	.nav-tabs> li > a:hover,
	.nav-tabs> li > a:focus {
		background-color: #fafafa;
	}
	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active,
	.nav-tabs> li > a.active,
	.nav-tabs> li > a.active:hover,
	.nav-tabs> li > a.active:focus {
		background-color: #f5f5f5;
		border-color: transparent transparent transparent #00c5fb;
		border-left-width: 2px;
	}
	.nav-tabs > li.open:not(.active) > a,
	.nav-tabs > li.open:not(.active) > a:hover,
	.nav-tabs > li.open:not(.active) > a:focus {
		background-color: #fafafa;
	}
	.nav-tabs.nav-tabs-solid {
		padding: 5px;
	}
	.nav-tabs.nav-tabs-solid.nav-tabs-rounded {
		border-radius: 5px;
	}
	.nav-tabs.nav-tabs-solid > li > a {
		border-left-width: 0!important;
	}
	.nav-tabs-justified {
		border-bottom: 1px solid #ddd;
	}
	.nav-tabs-justified > li > a.active,
	.nav-tabs-justified > li > a.active:hover,
	.nav-tabs-justified > li > a.active:focus {
		border-width: 0 0 0 2px;
		border-left-color: #00c5fb;
	}
	.my-video ul li {
		width: 80px;
	}
	.voice-call-avatar .call-avatar {
		width: 120px;
		height: 120px;
	}
	.product-info {
		margin: 20px 0 30px;
	}
	.profile-bg {
		height: 280px;
	}
	.flag-nav > a > span {
		display: none;
	}
	.equal-height-cards > div > div.card {
		height: unset;
	}
}
@media only screen and (max-width: 575.98px) {
	.contact-cat {
		padding-right: 70px;
	}
	.user-menu {
		display: none;
	}
	.mobile-user-menu {
		display: block;
	}
	.search-box {
		display: none;
	}
	.filter-row {
		margin-bottom: 15px;
	}
	.page-wrapper > .content {
		padding: 15px;
	}
	.profile-view .profile-basic {
		margin-left: 0;
		padding-right: 0;
	}
	.profile-img-wrap {
		position: relative;
		margin: 0 auto;
	}
	.profile-info-left {
		text-align: center;
	}
	.profile-basic {
		margin-left: 0;
		margin-top: 15px;
	}
	.page-title {
		font-size: 18px;
	}
	.fc-toolbar .fc-right {
		display: inline-block;
		float: none;
		margin: 10px auto 0;
		width: 200px;
		clear: both;
	}
	.fc-toolbar .fc-left {
		float: none;
		margin: 0 auto;
		width: 200px;
	}
	.upload-text {
		font-size: 18px;
	}
	.call-duration {
		display: block;
		margin-top: 0;
		margin-bottom: 10px;
		position: inherit;
	}
	.end-call {
		margin-top: 10px;
		position: inherit;
	}
	.chat-panel .chats {
		padding: 15px 0;
	}
	.chat-right .chat-content {
		max-width: 90%;
	}
	.chat-right .chat-body {
		padding-left: 0;
		padding-right: 0;
	}
	.chat-left .chat-content {
		max-width: 90%;
	}
	.chat-left .chat-body {
		padding-left: 0;
		padding-right: 0;
	}
	.chat-avatar .avatar {
		height: 20px;
		line-height: 20px;
		width: 20px;
	}
	.account-box {
		width: 100%;
		margin-bottom: 20px;
	}
	.float-left.ticket-view-details {
		width: 80%;
	}
	.custom-menu > li > a {
		margin-left: 10px;
	}
	.contact-alphapets {
		top: 113px;
	}
	.account-page .main-wrapper {
		flex-direction: column;
	}
	.otp-input {
		font-size: 18px;
		height: 50px;
		margin-right: 10px;
		width: 52px;
	}
	.account-wrapper {
		padding: 15px;
	}
	.leave-right {
		flex: 0 0 auto;
	}
	.pagination-lg .page-link {
		font-size: 1.2rem;
		padding: 0.5rem 0.85rem;
	}
	.call-box .call-avatar {
		height: 100px;
		max-width: 100px;
		min-width: 100px;
	}
	.call-box .call-wrapper .call-items .call-item {
		padding: 10px;
	}
	.call-box .call-wrapper .call-items .call-item.call-end {
		margin: 30px 5px 0;
		padding: 10px;
	}
	.submit-section .submit-btn {
		margin: 0 0 10px !important;
	}
	.leave-row {
		display: block;
	}
	.leave-box .subtitle {
		display: none;
	}
	.leave-right {
		margin-top: 20px;
	}
	.leave-inline-form {
		display: block;
	}
	.page-header .breadcrumb {
		display: none;
	}
	.add-btn {
		font-size: 14px;
		min-width: inherit;
	}
}